<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>FAQ - Customer Care</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css'>
  <link rel='stylesheet' href='https://unpkg.com/css-pro-layout@1.1.0/dist/css/css-pro-layout.css'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
  <div class="layout has-sidebar fixed-sidebar fixed-header">
    <aside id="sidebar" class="sidebar break-point-sm has-bg-image">
      <a id="btn-collapse" class="sidebar-collapser"><i class="ri-arrow-left-s-line"></i></a>
      <div class="sidebar-layout">
        <div class="sidebar-header">
          <div class="pro-sidebar-logo">
            <div>Hi</div>
            <h5>Customer Care</h5>
          </div>
        </div>
        <div class="sidebar-content">
          <nav class="menu open-current-submenu">
            <ul>
              <li class="menu-header"><span> MENU </span>
                <svg class="newArticleButton" data-toggle="tooltip" title="Criar novo artigo" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="25" viewBox="0,0,256,256">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.33333,5.33333)"><path d="M44,24c0,11 -9,20 -20,20c-11,0 -20,-9 -20,-20c0,-11 9,-20 20,-20c11,0 20,9 20,20z" fill="#1e7bc8"></path><path d="M21,14h6v20h-6z" fill="#ffffff"></path><path d="M14,21h20v6h-20z" fill="#ffffff"></path></g></g>
                </svg>
              </li>
              <li class="menu-item sub-menu">
                <a>
                  <span class="menu-icon">
                    <i class="ri-book-2-fill"></i>
                  </span>
                  <span class="menu-title">Troubleshooting</span>
                </a>
                <div class="sub-menu-list">
                  <ul>
                    <li class="menu-item">
                      <a >
                        <span class="menu-title">Hi Inbox</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a >
                        <span class="menu-title">Hi Social</span>
                      </a>
                    </li>
                    <li class="menu-item">
                      <a >
                        <span class="menu-title">Hi Flow</span>
                      </a>
                    </li>
                    <li class="menu-item sub-menu">
                      <a >
                        <span class="menu-title">DirectTalk</span>
                      </a>
                      <div class="sub-menu-list">
                        <ul>
                          <li class="menu-item">
                            <a >
                              <span class="menu-title">Hi Bot</span>
                            </a>
                          </li>
                          <li class="menu-item">
                            <a >
                              <span class="menu-title">Hi Chat</span>
                            </a>
                          </li>
                          <li class="menu-item">
                            <a >
                              <span class="menu-title">Hi FAQ</span>
                            </a>
                          </li>
                          <li class="menu-item">
                            <a >
                              <span class="menu-title">Hi Phone</span>
                            </a>
                          </li>
                          <li class="menu-item">
                            <a >
                              <span class="menu-title">Hi Mail</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="menu-item sub-menu">
                      <a >
                        <span class="menu-title">YourViews</span>
                      </a>
                      <div class="sub-menu-list">
                        <ul>
                          <li class="menu-item">
                            <a >
                              <span class="menu-title">Reviews</span>
                            </a>
                          </li>
                          <li class="menu-item">
                            <a >
                              <span class="menu-title">Voices</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </li>

                  </ul>
                </div>
              </li>
              <li class="menu-header" style="padding-top: 20px"><span> AÇÕES </span></li>
              <li class="menu-item">
                <a >
                  <span class="menu-icon">
                    <i class="ri-folder-image-fill"></i>
                  </span>
                  <span class="menu-title">HiFiles</span>

                </a>
              </li>
              <li class="menu-item">
                <a >
                  <span class="menu-icon">
                    <i class="ri-android-fill"></i>
                  </span>
                  <span class="menu-title">Tenants</span>
                  <span class="menu-suffix">
                    <span class="badge secondary">Beta</span>
                  </span>
                </a>
              </li>
              <li class="menu-item">
                <a >
                  <span class="menu-icon">
                    <i class="ri-calendar-schedule-fill"></i>
                  </span>
                  <span class="menu-title">Squads Overview</span>
                </a>
              </li>
              <li class="menu-item">
                <a >
                  <span class="menu-icon">
                    <i class="ri-calendar-schedule-fill"></i>
                  </span>
                  <span class="menu-title">Chat Overview</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </aside>
    <div id="overlay" class="overlay"></div>
    <div class="layout">
      <main class="content">
        <div class="troubleshooting">
          <div class="inbox">
          </div>
          <div class="social">
          </div>
          <div class="flow">
            </div>
          <div class="bot">
          </div>
          <div class="chat">
            </div>
          <div class="faq">
            </div>
          <div class="phone">
            </div>
          <div class="mail">
            </div>
          <div class="reviews">
          </div>
          <div class="voices">
            </div>
        </div>
        <div class="files">

        </div>
        <div class="tenants">
            
        </div>
      </main>
      <div class="overlay"></div>
    </div>
  </div>
  <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
              <div class="modal-body text-center">
                  <h4 id="loadingModalLabel">Aguarde</h4>
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: rgb(255, 255, 255); display: block; shape-rendering: auto;" width="94px" height="94px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                    <circle cx="50" cy="50" fill="none" stroke="#382d9a" stroke-width="4" r="16" stroke-dasharray="75.39822368615503 27.132741228718345">
                      <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="0.36764705882352944s" values="0 50 50;360 50 50" keyTimes="0;1"></animateTransform>
                    </circle>
                    </svg>
              </div>
          </div>
      </div>
  </div>
  <div class="modal fade" id="newArticleModal" tabindex="-1" role="dialog" aria-labelledby="newArticleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
              <div class="modal-body text-center">
                <div class="formbold-main-wrapper">
                  <div class="formbold-form-wrapper">
                    <form autocomplete="off" id="newArticleForm" method="POST" action="http://127.0.0.1:8080/newarticle">
                        <div class="formbold-input-flex">
                          <select id="categorySelect" class="form-select" aria-label="categorySelect">
                            <option selected>Selecione uma categoria</option>
                          </select>
                        </div>
                        <div class="formbold-input-flex">
                          <div>
                              <input type="text"name="articleTitle" id="articleTitle" placeholder="Ex: Como configurar novas contas de e-mail?" class="formbold-form-input"/>
                              <label autocomplete="off" for="articleTitle" class="formbold-form-label"> Título </label>
                          </div>
                        </div>
                        <div class="formbold-textarea">
                            <textarea rows="6" name="message" id="message" placeholder="Digite aqui..." class="formbold-form-input"></textarea>
                            <label for="message" class="formbold-form-label"> Conteúdo </label>
                        </div> 
                        <button id="newArticleSubmit" class="formbold-btn">
                            Criar
                        </button>
                    </form>
                  </div>
                </div>  
              </div>
          </div>
      </div>
  </div>
  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">Sucesso! <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 50 50"
          style="fill:#40C057;">
          <path d="M25,2C12.318,2,2,12.318,2,25c0,12.683,10.318,23,23,23c12.683,0,23-10.317,23-23C48,12.318,37.683,2,25,2z M35.827,16.562	L24.316,33.525l-8.997-8.349c-0.405-0.375-0.429-1.008-0.053-1.413c0.375-0.406,1.009-0.428,1.413-0.053l7.29,6.764l10.203-15.036	c0.311-0.457,0.933-0.575,1.389-0.266C36.019,15.482,36.138,16.104,35.827,16.562z"></path>
          </svg></strong>
        <small>Agora</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">Artigo Criado.</div>
    </div>
  </div>
  <script src='https://unpkg.com/@popperjs/core@2'></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.6/js/bootstrap-select.min.js"></script>
</body>
</html>